.category-content {
  .card{

    .image-box {
      width: 90%;
      margin: 10px auto;
      &:before{
        padding-top: 100%;
      }
    }

    .card-content {

      .card-body {
        margin-top: 10px;
        .additional-params {
          text-align: center;
        }
      }
    }

  }
}

.category-pagination {
  text-align: right;
  padding-top: 20px;
}
