.dish-weight {
  span {
    display: inline-block;
    padding: 5px;
    background: $gray-color;
    color: white;
    font-size: 0.875rem;
  }
}

.dish-price {
  margin-top: 20px;
  font-size: 0.875rem;
}

.additional-params {
  .dish-weight {
    display: inline-block;
    margin-right: 10px;
  }
  .dish-price {
    display: inline-block;
    margin-top: 0;
  }
}
