.event-info {
  margin: 10px 0 0;

  &:first-child{
    margin-top: 5px;
  }
}

.event-info-sm {

  .event-icon {
    width: 16px;
    height: 16px;
  }

  span {
    font-size: 0.875em;
    margin-left: 5px;
  }
}

.event-info-md {
  .event-icon {
    width: 20px;
    height: 20px;
  }
  span {
    font-size: 1em;
    margin-left: 10px;
  }
}

.event-params {
  margin-top: 10px;
  .event-info {
    margin-top: 0;
  }

  .event-info:nth-child(n+2) {
    margin-left: 10px;
  }
}
