.rangeFilterContainer {
  margin: 20px 0;
  .rangeFilter {
    position: relative;
    margin: 20px 0;
    height: 7px;
    background-color: #dfdfdf;

    .range {
      position: absolute;
      top: 0;
      height: 100%;
      z-index: 1;
      background-color: $dark-blue-color;
    }

    .rangeMark {
      position: absolute;
      top: -6.5px;
      z-index: 2;
      background: #76c7e1;

      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

    .rangeMark.selected {
      z-index: 3;
      -webkit-box-shadow: 0 0 5px #64a9bf;
      box-shadow: 0 0 5px #64a9bf;
    }

  }
  .boundsValues {
    display: flex;
    justify-content: space-between;
    .boundaryInput {
      min-width: 50px;
      max-width: 75px;
    }
  }
}
.checkbox-count {
  margin: 10px 0;
  label {
    position: relative;
    height: 20px;
    display: flex;
    align-items: flex-end;

    input {
      display: none;
    }

    .checkmark {
      position: absolute;
      left: 0;
      top: 0;

      display: inline-block;

      width: 20px;
      height: 20px;
      border: 2px solid $dark-blue-color;

      &::after {
        content: "";
        position: absolute;
        display: none;

        left: 4px;
        top: 0;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    input:checked + .checkmark {
      background-color: $dark-blue-color;
      &::after{
        display: block;
      }
    }

    .label-text {
      margin-left: 25px;
      font-size: 1em;
    }

  }
}

