header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: black;
    height: $header-height;
    z-index: 4;

    .left-header {
        display: inline-block;
        height: inherit;

        >a {
            display: inline-block;
            cursor: pointer;
            height: inherit;
            .logo {
                width: $header-height;
                height: inherit;

                position: relative;
                float: left;
                img {
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    height: 40px;
                }
            }

            .company-name {
                float: left;
                margin-left: 10px;
                height: inherit;
                h1 {
                    line-height: $header-height;
                    color: white;
                    margin: 0;
                }
            }
        }
    }
}

.search {
    display: inline-block;
    float: right;
    height: $header-height;
    margin-left: 15px;
    position: relative;

    $search-field-border: 2px;

    .search-icon-container {
        color: white;
        padding-left: $search-field-border;
        font-size: 30px;
        line-height: $header-height;
        cursor: pointer;
    }

    .search-field-container {
        position: absolute;
        bottom: -$header-height;
        width: 350px;
        height: 50px;
        z-index: 4;
        background: black;
        &.collapsed {
            display: none;
        }

        .search-field {
            height: 50px;
            width: 300px;
            padding: 5px calc((30px - #{$search-field-border})/2);
            font-size: 20px;
            border-width: 0 0 0 $search-field-border;
            border-color: black;
            color: black;
            &:focus{
                outline-width: 0;
            }
            &.no-history {
                border-bottom-width: $search-field-border;
            }
        }

        .search-field-button {
            position: absolute;
            right:0;
            top: 0;
            height: 50px;
            padding: 10px;

            border: 0;

            background: black;
            color: white;
            font-size: 30px;
            cursor: pointer;
            &:focus{
                outline-width: 0;
            }
        }

        .search-field-history {
            display: block;
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: calc(300px + #{$search-field-border});
            cursor: pointer;
            border-width: 0 $search-field-border;
            border-color: black;
            border-style: solid;
            li {
                height: 30px;
                font-size: 20px;
                padding: 5px;
                border-bottom: 1px solid black;
                background-color: $light-gray-transparent;
                color: black;

                &:last-of-type {
                    border-bottom-width: $search-field-border;
                }
            }
        }
    }

}

nav {
    float: right;
    height: 100%;

    ul {
        display: block;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li{
            position: relative;
            display: inline-block;

            a, label {
                display: block;
                height: 30px;
                line-height: 30px;
                color: $gray-color;
                text-decoration: none;
            }
            a.selectedMenuItem, a:hover {
                color: white;
            }
        }
    }

    .main-menu {
        cursor: pointer;
        &>li {
          height: $header-height;

          input[type="checkbox"] {
            display: none;
          }

          >a, >label  {
            cursor: pointer;
            margin: 10px 0;
            padding: 0 20px;
            border-right: 1px solid $gray-color;
          }
          &:last-child > a, &:last-child > label  {
              border-right: none;
          }
        }
    }

    .sub-menu{
        display: none;
        z-index: 4;
        min-width: 120px;
        max-width: 250px;

        position: absolute;
        top: $header-height;
        right: 0;

        background: black;

        li {
            border-bottom: 1px solid $gray-color;
            text-align: center;
            width: 100%;

            &:last-child {
                border-bottom: none;
            }

            a {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

    }

    li:hover > .sub-menu {
        display: block;
    }

    .burger-menu {
        display: none;
        & + label {
            display: none;
            float: right;
            height: 25px;
            width: 25px;
            margin: 12.5px 20px;
            border: 1px solid white;
            border-radius: 3px;
            cursor: pointer;

            > span {
                display: block;
                width: 15px;
                margin: 5px auto 0 auto;
                border-top: 1px solid white;
                opacity: 1;
                -webkit-transition: transform 1s, opacity 0.5s;
                -moz-transition: transform 1s, opacity 0.5s;
                -o-transition: transform 1s, opacity 0.5s;
                transition: transform 1s, opacity 0.5s;
            }
        }

        &:checked + label > span:first-child {
            transform: translateY(5px) rotate(45deg);
        }

        &:checked + label > span:nth-child(2) {
            opacity: 0;
        }

        &:checked + label > span:last-child {
            transform: translateY(-5px) rotate(-45deg);
        }

    }
}
