.icon-info {
  margin: 0;
  display: inline-flex;
  align-items: center;
  text-align: left;

  .icon {
    flex: 0 0 auto;
  }

  span {
    flex: 0 1 auto;
  }
}

.icon-info-sm {

  .icon {
    width: 16px;
    height: 16px;
  }

  span {
    font-size: 0.875rem;
    margin-left: 5px;
  }
}

.icon-info-md {
  .icon {
    width: 20px;
    height: 20px;
  }
  span {
    font-size: 1rem;
    margin-left: 10px;
  }
}

.icon-info-lg {
  display: inline-flex;
  align-items: center;
  .icon {
    width: 30px;
    height: 30px;
  }
  span {
    font-size: 1.2rem;
    margin-left: 10px;
  }
}

.black-icon {
  color: black;
}

.event-params {
  margin-top: 10px;
  .icon-info {
    margin-top: 0;
  }

  .icon-info:nth-child(n+2) {
    margin-left: 10px;
  }
}
