.icon-info {
  margin: 10px 0 0;

  &:first-child{
    margin-top: 5px;
  }
}

.icon-info-sm {

  .icon {
    width: 16px;
    height: 16px;
  }

  span {
    font-size: 0.875em;
    margin-left: 5px;
  }
}

.icon-info-md {
  .icon {
    width: 20px;
    height: 20px;
  }
  span {
    font-size: 1em;
    margin-left: 10px;
  }
}

.icon-info-lg {
  display: inline-flex;
  align-items: center;
  .icon {
    width: 30px;
    height: 30px;
  }
  span {
    font-size: 1.2em;
    margin-left: 10px;
  }
}

.black-icon {
  color: black;
}

.event-params {
  margin-top: 10px;
  .icon-info {
    margin-top: 0;
  }

  .icon-info:nth-child(n+2) {
    margin-left: 10px;
  }
}
