.item-page {
  display: flex;
  color: $gray-color;

  .title {
    color: $gray-color;
  }

  .img-col {
    img {
      display:block;
      margin: auto;
      width: 100%;
    }
  }

  .img-col-lg {
    flex: 1 1 50%;
    img {
      max-width: 400px;
    }
  }

  .img-col-md {
    flex: 1 1 30%;
    img {
      max-width: 300px;
    }
  }

  .content-col {
    text-align: left;

    .title {
      margin: 0;
      font-size: 1.750rem;
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  .content-col-lg {
    flex: 1 0 50%;
  }
}
