$gray-color: #7b7b7b;
$light-gray-color: #DCDCDC;
$light-gray-transparent: rgba(220, 220, 220, 0.8);
$dark-blue-color: #369;
$light-blue-transparent: rgba(30, 161, 220, .8);
$error-color: #a94442;

$slider-animation-time: 600;
$galary-animation-time: 500;

$header-height: 50px;

@import "normalize";
@import "pagination";
@import "filters";
@import "forms";
@import "modal";
@import "header";
@import "slider";
@import "image-gallery.scss";
@import "mainBlock";
@import "reservation";
@import "media";


*{
  box-sizing: border-box;
}

.breakable {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

html {
  font-size: 16px;
}

body {
  color: $gray-color;
  overflow-y: scroll;
}

main {
  padding-top: $header-height;
}

a {
  text-decoration: none;
  color: $gray-color;
}

.vertically-centered {
  display: flex;
  align-items: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

