$gray-color: #7b7b7b;
$light-gray-color: #DCDCDC;
$dark-blue-color: #369;
$light-blue-transparent: rgba(30, 161, 220, .8);
$error-color: #a94442;

$slider-animation-time: 600;

@import "normalize";
@import "pagination";
@import "filters";
@import "forms";
@import "modal";
@import "header";
@import "slider";
@import "mainBlock";
@import "reservation";
@import "media";


*{
  box-sizing: border-box;
}

body {
  color: $gray-color;
}

a {
  text-decoration: none;
  color: $gray-color;
}

.vertically-centered {
  display: flex;
  align-items: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

