@media only screen and (max-width: 1440px) {
  .card {
    flex-basis: 18%;
    &:nth-child(n) {
      margin-right: 2.5%;
    }

    &:nth-child(n+6) {
      margin-top: 40px;
    }

    &:nth-of-type(5n) {
      margin-right: 0;
    }
  }

  .content-col-padding {
    padding-left: 3%;
  }
}

@media only screen and (max-width: 950px) {

  header .left-header {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  nav {
    width: 100%;

    .burger-menu + label {
      display: block;
    }

    .burger-menu:checked ~ .main-menu {
      display: block;
    }

    .main-menu {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      text-align: center;
      background: rgba(0, 0, 0, 0.8);

      li {
        display: block;
        height: auto;
        border-bottom: 1px solid $gray-color;

        &:last-child {
          border-bottom: none;
        }

        input[type="checkbox"]:checked ~ .sub-menu {
          display: block;
        }

        &:hover > .sub-menu {
          display: none;
        }

        label {
          padding: 0;
          margin: 0;
        }

        a{
          padding: 0;
          margin: 0;
          border-right: none;

          &:hover {
            color: white;
          }
        }
      }
    }

    .sub-menu {
      position: initial;
      background: none;
      li {
        width: 100%;
        &:first-child {
          border-top: 1px solid $gray-color;
        }
      }
    }
  }

  .card {
    flex-basis: 23.5%;
    &:nth-child(n) {
      margin-right: 2%;
    }

    &:nth-child(n+5) {
      margin-top: 40px;
    }

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }

  .search-page {
    .search-results {
      flex-basis: 55%;
    }

    .search-params {
      flex-basis: 45%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .slider-section {
    display: none;
  }

  .main-block {
    padding: 20px;
  }

  .card {
    flex-basis: 30%;
    &:nth-child(n) {
      margin-right: 5%;
    }

    &:nth-child(n+4) {
      margin-top: 40px;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  .item-page {
    flex-direction: column;

    .content-col {
      padding: 20px 0 0;
      .title {
        text-align: center;
      }
      .event-params {
        text-align: center;
      }
      .additional-params {
        text-align: right;
      }
    }
  }

  .search-page {
    flex-direction: column-reverse;
    .search-results {
      padding-right: 0;
    }
  }

  .reservation-page {
    flex-direction: column-reverse;
    .restaurant-map {
      h2 {
        margin-top: 10px;
      }
    }

    .reservationTimeFilter {
      padding-left: 0;
      h2 {
        display: none;
      }
      .time-filters {
        display: flex;
        justify-content: space-between;
        .default-form-label {
          flex: 0 0 45%;
          margin-top: 0;
        }
      }
    }
  }

  .default-form-label .input-time .inputs {
    justify-content: space-between;
  }

  .main-block {
    .google-map {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    .search {
      .search-field-container {
        position: fixed;
        top: $header-height;
        left: 0;
        right: 0;
        width: 100%;
        .search-field {
          width: calc(100% - 50px);
        }
        .search-field-button {
          // display: none;
        }
        .search-field-history {
          width: calc(100% - 48px);
        }
      }
    }
  }

  .main-block {
    h2 {
      font-size: 1.5rem;
      text-align: center;
    }
    .item-description {
      font-size: 1.1rem;
      text-align: left;
    }
  }

  .image-gallery {
    min-width: auto;
    width: 100%;
    .selected-image-container {
      display: block;
      margin: 10px 0;
      width: 100%;
    }
    .preview-bar {
      display: none;
    }
  }

  .card {
    flex-basis: 47.5%;
    &:nth-child(n) {
      margin-right: 5%;
    }

    &:nth-child(n+3) {
      margin-top: 40px;
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    .image-box {
      &:before {
        padding-top: 130%;
      }
    }
  }

  .search-page {

    .search-params {
      .search-filters, .search-sort {
        .filters-title {
          margin-bottom: 0;
        }
      }
    }
  }

  .reservationTimeFilter {
    .time-filters {
      flex-direction: column;
      .default-form-label {
        flex-grow: 1;
      }
    }
  }

  .default-form-label {
    width: 80%;
  }
}

@media only screen and (max-width: 414px) {
  .cards-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 90%;
    flex-basis: auto;
    &:nth-child(n) {
      margin: 0 auto;
    }

    &:nth-child(n+2) {
      margin-top: 20px;
    }
  }

  .big-label {
    width: 100%;
  }

  .default-form-label {
    width: 90%;
    .input-time .inputs {
      justify-content: space-around;
    }
  }

  .btn {
    min-width: auto;
  }
}

@media only screen and (min-width: 951px) {
  .category-content {
    .card {
      flex-basis: 23.5%;
      &:nth-child(n) {
        margin-right: 2%;
      }

      &:nth-child(n+5) {
        margin-top: 40px;
      }

      &:nth-of-type(4n) {
        margin-right: 0;
      }
      .card-content {
        .image-box {
          width: 80%;
        }
        .card-title {
          font-size: 1rem;
        }
      }
    }
  }
}
