@media only screen and (max-width: 1440px) {
  .card {
    flex-basis: 18%;
    &:nth-child(n) {
      margin-right: 2.5%;
    }

    &:nth-child(n+6) {
      margin-top: 40px;
    }

    &:nth-of-type(5n) {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 950px) {

  header .left-header {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  nav {
    width: 100%;

    .burger-menu + label {
      display: block;
    }

    .burger-menu:checked ~ .main-menu {
      display: block;
    }

    .main-menu {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      text-align: center;
      background: rgba(0, 0, 0, 0.8);

      li {
        display: block;
        height: auto;
        border-bottom: 1px solid $gray-color;

        &:last-child {
          border-bottom: none;
        }

        span {
          padding: 0;
          margin: 0;
          border-bottom: 1px solid $gray-color;
          cursor: auto;
        }

        a{
          padding: 0;
          margin: 0;
          border-right: none;

          &:hover {
            color: white;
          }
        }
      }
    }

    .sub-menu {
      display: block;
      position: initial;
      background: none;
      li {
        width: 100%;
      }
    }
  }

  .card {
    flex-basis: 22%;
    &:nth-child(n) {
      margin-right: 4%;
    }

    &:nth-child(n+5) {
      margin-top: 40px;
    }

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }

}


@media only screen and (max-width: 768px) {
  .slider-section {
    display: none;
  }

  .main-block {
    padding: 20px;
  }

  .card {
    flex-basis: 30%;
    &:nth-child(n) {
      margin-right: 5%;
    }

    &:nth-child(n+4) {
      margin-top: 40px;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 599px) {
  header {
    .search {
      .search-field-container {
        position: fixed;
        top: $header-height;
        left: 0;
        right: 0;
        width: 100%;
        .search-field {
          width: calc(100% - 50px);
        }
        .search-field-button {
          // display: none;
        }
        .search-field-history {
          width: calc(100% - 48px);
        }
      }
    }
  }

  .main-block {
    h2 {
      font-size: 1.5em;
      text-align: center;
    }
    .item-description {
      font-size: 1.1em;
      text-align: left;
    }
  }

  .image-gallery {
    min-width: auto;
    width: 100%;
    .selected-image-container {
      display: block;
      margin: 10px 0;
      width: 100%;
    }
    .preview-bar {
      display: none;
    }
  }

  .card {
    flex-basis: 47.5%;
    &:nth-child(n) {
      margin-right: 5%;
    }

    &:nth-child(n+3) {
      margin-top: 40px;
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    .image-box {
      &:before {
        padding-top: 130%;
      }
    }
  }

}

@media only screen and (max-width: 414px) {
  .cards-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 90%;
    flex-basis: auto;
    &:nth-child(n) {
      margin: 0 auto;
    }

    &:nth-child(n+2) {
      margin-top: 20px;
    }
  }
}
